<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="vendors/css/normalize.css">
</head>

<body>
  <header>  
    <ul>
      <li class="left"><%= link_to 'ホーム', talks_path %></li>
      <li class="right"><%= link_to '新規作成', new_talk_path %></li>
      </div>
    </ul>
  </header>

  <section class="line">
  </section>
  
<%= form_with(model: @talk, local: true, url: choose_new_or_edit ) do |form| %>
<% if @talk.errors.any? %>
<div id="error_explanation">
    <h2><%= @talk.errors.count %>件のエラーがあります。</h2>
    <ul>
        <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="talk_content">
<%= form.text_area :content, :size=>"30x5" %>
<br>
<%= form.submit "投稿する" %>
<% end %>
</div>

<footer>
  <p>2019</p>
</footer>