<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Talk</title>
    <link rel="stylesheet" href="vendors/css/normalize.css">
</head>
<body>
  <header>  
    <ul>
      <li class="left"><a href="#">ホーム</a></li>
      <li class="right"><%= link_to '新規作成', new_talk_path %></li>
      </div>
    </ul>
  </header>

  <section class="line">
  </section>

  <section class="talk">
  <table align=center>
    <% @talks.each do |talk| %>
    <tr>
      <th colspan="3" width="400" height="100"><%= talk.content %></td>
    </tr>
    <tr>    
      <td><%= link_to '詳細', talk_path(talk.id) %></td>
      <td><%= link_to "編集", edit_talk_path(talk.id) %></td>
      <td><%= link_to "削除", talk_path(talk.id), method: :delete, data: { confirm: "本当に削除していいですか？"} %></td>
    </tr>
    <% end %>
  </table>
  <div class="push"></div>
  </section>

  <footer>
    <p>2019</p>
  </footer>
  
</body>
</html>
